{% if artwork %}
<div class="artwork">
<div class="carousel slide" id="artwork-{{ artwork_id }}">
  <div class="carousel-inner">
    {% for image in artwork %}
    <div class="item {% if forloop.first %}active{% endif %}">
      <a href="{{ image.image.image.url }}" target="_blank"><img src="{{ image.image.medium_image.url }}" alt="{{ image.description }}" /></a>
    </div>
    {% endfor %}
  </div>
</div>

{% if artwork|length > 1 %}
  <ul class="thumbnails list-unstyled clearfix">
    {% for image in artwork %}
    <li {% if forloop.first %}class="active"{% endif %} data-slide-to="{{ forloop.counter0 }}" data-target="#artwork-{{ artwork_id }}">
      <img src="{{ image.image.thumbnail.url }}" alt="{{ image.description }}" />
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endif %}
