<article class="release clearfix">
  <header><h1><a href="{{ release.get_absolute_url }}">{{ release }}</a></h1></header>
  {% if release.streamable and release.get_player_html %}
  <div class="player">
    {% autoescape off %}{{ release.get_player_html }}{% endautoescape %}
  </div>
  {% endif %}

  {% include "kishore/music/artwork.html" with artwork=release.artwork.all %}

  <div class="info">
  {% if release.description %}
  <div class="description">{% autoescape off %}{{ release.description }}{% endautoescape %}</div>
  {% endif %}

  {% with release.get_cart_form as form %}{% if form %}
  <h2>Buy</h2>
  <form method="post" action="{% url 'kishore_add_to_cart' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add To Cart" class="btn btn-primary">
  </form>
  {% endif %}{% endwith %}
  </div>
</article>
