{% extends "kishore/base.html" %}
{% load cache %}

{% block kishore_content %}
{% if artist %}
<h1>{{ artist }}</h1>
{% endif %}

<div class="row">
  {% for release in releases %}
  {% cache 9999999 release_list_item release.cache_key %}
  <div class="col-sm-3">
    <a href="{{ release.get_absolute_url }}">
      <img src="{{ release.get_primary_image.cropped_square.url }}">
    </a>
    <p><a href="{{ release.get_absolute_url }}">{{ release }}</a></p>
  </div>
  {% endcache %}
  {% endfor %}
</div>
{% endblock %}
