{% load markup %}

<article class="release">
  <div class="row">
    <div class="col-md-8">
      {% if release.streamable %}
      <div class="player">
        {% autoescape off %}{{ release.get_player_html }}{% endautoescape %}
      </div>
      {% endif %}

      {% if release.description %}
      <div class="description">{{ release.description|markdown:"safe" }}</div>
      {% endif %}
    </div>

    <div class="col-md-4">
      {% with release.get_cart_form as form %}
      {% include "kishore/store/buy_product.html" %}
      {% endwith %}

      {% with release.get_downloads as products %}
      {% include "kishore/store/download_product.html" %}
      {% endwith %}

      {% include "kishore/music/artwork.html" with artwork=release.ordered_images artwork_id=release.id %}
    </div>
  </div>
</article>
