{% extends "kishore/auth/base.html" %}
{% load i18n %}

{% block auth_title %}Password Reset{% endblock %}

{% block auth_content %}
{% if validlink %}
<form method="post" action=".">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">{{ field }}
    {% for error in field.errors %}
    <span class="label label-danger">{{ error }}</span>
    {% endfor %}
  </div>
  {% endfor %}

  {% for error in form.non_field_errors %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endfor %}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}
{% endblock %}
