{% extends "kishore/admin/base.html" %}
{% load kishore_tags %}
{% load kishore_admin_tags %}

{% block artist_nav %}active{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
  <a class="btn btn-primary" href="{% url 'kishore_admin_artist_create' %}">Add an Artist</a>
</div>

<h1>Artists</h1>
<table class="table table-striped">
  <thead>
    <th></th>
    <th></th>
  </thead>
  <tbody>

    {% for artist in artists %}
    <tr>
      <td><a href="{% url 'kishore_admin_artist_update' pk=artist.id %}">{{ artist }}</a></td>
      <td>
        <a href="{{ artist.get_absolute_url }}"><i class="icon-external-link"></i></a>
      </td>
    </tr>
</tr>
{% endfor %}
</tbody>
</table>

{% kishore_pagination page_obj %}
{% endblock %}
