{% extends "kishore/admin/base.html" %}
{% load kishore_tags %}
{% load kishore_admin_tags %}

{% block image_nav %}active{% endblock %}

{% block content %}
<div class="admin-toolbar pull-right">
  <form method="post" action="{% url 'kishore_admin_image_search' %}" class="form-inline">
    {% csrf_token %}
    <input type="text" name="q" placeholder="Search images" class="form-control input-sm" />
  </form>

  <a class="btn btn-primary" href="{% url 'kishore_admin_image_create' %}">Add an Image</a>
</div>

<div class="page-header">
  <h1>Images</h1>
</div>

{% for image in images %}
<a href="{% url 'kishore_admin_image_update' pk=image.pk %}">
  <img src="{{ image.thumbnail.url }}" />
</a>
{% endfor %}

{% kishore_pagination page_obj %}
{% endblock %}
