{% extends "kishore/admin/base.html" %}
{% load kishore_tags %}
{% load kishore_admin_tags %}

{% block image_nav %}active{% endblock %}

{% block content %}

<h1>Images</h1>
<p>
  <div class="btn-toolbar">
    <a class="btn btn-primary" href="{% url 'kishore_admin_image_create' %}">Add an Image</a>
  </div>
</p>
{% for image in images %}
<a href="{% url 'kishore_admin_image_update' pk=image.pk %}">
<img src="{{ image.cropped.url }}" />
</a>
{% endfor %}

{% kishore_pagination page_obj %}
{% endblock %}
