{% extends "kishore/admin/base.html" %}
{% load kishore_tags %}
{% load kishore_admin_tags %}

{% block product_nav %}active{% endblock %}

{% block content %}
<div class="pull-right admin-toolbar">
  <form method="post" action="{% url 'kishore_admin_product_search' %}" class="form-inline">
    {% csrf_token %}
    <input type="text" name="q" placeholder="Search products" class="form-control input-sm" />
  </form>
  <a class="btn btn-primary" href="{% url 'kishore_admin_product_create' %}">Add a Product</a>
</div>

<div class="page-header">
  <h1>Products</h1>
</div>

<table class="table table-striped">
  <thead>
    <th>Product</th>
    <th>Price</th>
    <th>Type</th>
    <th class="text-center">Visible</th>
    <th></th>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td><a href="{{ product.get_admin_url }}">{{ product.name }}</a></td>
      <td>{{ product.formatted_price }}</td>
      <td><span class="label label-{{ product.get_subclass_name|slugify }}">
          {{ product.get_subclass_name }}
      </span></td>
      <td class="text-center">{% if product.visible %}<i class="icon-check success-icon"></i>{% endif %}</td>
      <td>
        <a href="{{ product.get_absolute_url }}"><i class="icon-external-link"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if page_obj %}
{% kishore_pagination page_obj %}
{% endif %}

{% endblock %}
