{% extends "kishore/admin/base.html" %}
{% load kishore_tags %}
{% load kishore_admin_tags %}

{% block product_nav %}active{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
  <a class="btn btn-primary" href="{% url 'kishore_admin_product_create' %}">Add a Product</a>
</div>

<h1>Products</h1>
<table class="table table-striped">
  <thead>
    <th>Product</th>
    <th>Price</th>
    <th></th>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td><a href="{% url 'kishore_admin_product_update' pk=product.id %}">{{ product.name }}</a></td>
      <td>{{ product.formatted_price }}</td>
      <td>
        <a href="{{ product.get_absolute_url }}"><i class="icon-external-link"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% kishore_pagination page_obj %}
{% endblock %}
