{% extends "kishore/admin/base.html" %}
{% load kishore_tags %}
{% load kishore_admin_tags %}

{% block release_nav %}active{% endblock %}

{% block content %}
<div class="admin-toolbar pull-right">
  <form method="post" action="{% url 'kishore_admin_release_search' %}" class="form-inline">
    {% csrf_token %}
    <input type="text" name="q" placeholder="Search releases" class="form-control input-sm" />
  </form>
  <a class="btn btn-primary" href="{% url 'kishore_admin_release_create' %}">Add a Release</a>
</div>

<h1>Releases</h1>

<table class="table table-striped">
  <thead>
    <th>Release</th>
    <th>Artist</th>
    <th></th>
  </thead>
  <tbody>
    {% for release in releases %}
    <tr>
      <td><a href="{{ release.get_absolute_url }}">
        {{ release.title }}
      </a></td>
      <td><a href="{% url 'kishore_admin_artist_update' pk=release.artist.pk %}">
          {{ release.artist }}
      </a></td>
      <td><a href="{{ release.get_absolute_url }}"><i class="icon-external-link"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% kishore_pagination page_obj %}
{% endblock %}
