{% extends "kishore/admin/base.html" %}
{% load kishore_tags %}
{% load kishore_admin_tags %}

{% block product_nav %}active{% endblock %}

{% block content %}

<h1>{{ product }}</h1>
<form method="post" action="." class="product-form image-picker-form">
  {% csrf_token %}
  {% include 'kishore/admin/product_form.html' %}
  <div class="btn-toolbar">
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="#" class="btn btn-danger delete-link" data-form-class="delete-form">Delete Product</a>
  </div>
</form>

<form method="post" action="{% url 'kishore_admin_product_delete' pk=product.id %}" class="delete-form">
  {% csrf_token %}
</form>

{% endblock %}
