{% extends "kishore/base.html" %}

{% block kishore_content %}
<article class="search">
  <h2>Search</h2>
  {% if query %}
  <p>Results for <em>{{ query }}</em></p>

  {% for result in page.object_list %}
  <p>
    <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
    <span class="label label-{{ result.model_name }}">{{ result.model_name }}</span>
  </p>
  {% empty %}
  <p>No results found.</p>
  {% endfor %}

  {% if page.has_previous or page.has_next %}
  <ul class="pager">
    {% if page.has_previous %}<li><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">Previous</a></li>{% endif %}
    {% if page.has_next %}<li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">Next</a></li>{% endif %}
  </ul>
  {% endif %}

  {% endif %}
</article>
{% endblock %}
