body {
  padding-bottom: 40px;
}

body.auth .navbar {
  display: none;
}

.btn-toolbar form {
  display: inline;
}

.sidebar .nav li.active {
  background: #eee;
}

/* Sign In */

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Orders */

.refund-order,
.easypost-shipping-toolbar form {
  display: inline;
}