@import 'bootstrap';
@import 'font-awesome';
@import 'jquery-ui-1.10.3.custom';
@import 'editor';

$blue: #428bca;

body {
  padding-bottom: 40px;
}

body.auth .navbar {
  display: none;
}

.btn-toolbar form {
  display: inline;
}

.sidebar .nav li.active {
  background: #eee;
}

/* Sign In */

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Orders */

.refund-order,
.easypost-shipping-toolbar form {
  display: inline;
}

/* Image Picker */

.image-picker {
  img {
    max-width: 100%;
  }

  h3 {
    margin-top: 0;
  }

  .image-sorter {
    margin-left: -10px;
  }

  .image-picker-image {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    margin-bottom: 10px;
  }

  .image-sorter .btn-toolbar {
    visibility: hidden;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .image-picker-image:hover .btn {
    visibility: visible;
  }
}

#add-images {
  .modal-body .btn {display: none;}

  .pager {
    margin-bottom: 0;
    li {
      display: none;
      &.active { display: block; }
    }
  }

  img {
    max-width: 100%;
    opacity: 0.4;
  }

  .selected img {
    opacity: 1;
  }
}

.artist_images label {
  display: none;
}

.artist-form .description {
  #id_description { display: none; }
}