{% load staticfiles %}
{% load kishore_tags %}
{% load kishore_admin_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ kishore_site_name }} {% block title %}{% endblock %}</title>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    {% kishore_css %}
    <script type="text/javascript">
      var kishore_static_root = "{% static 'kishore' %}";
    </script>
  </head>
  <body class="{% block body_class %}{% endblock %}">

    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{ kishore_site_name }}</a>
        </div>

        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'kishore_admin_dashboard' %}">Admin</a></li>
            {% endif %}

            <li>
              <form method="get" action="{% url 'kishore_search' %}" class="navbar-form search-form">
                <div class="form-group">
                  <input type="text" name="q" placeholder="search" class="form-control input-sm">
                </div>
              </form>
            </li>

            {% if cart and cart.item_count > 0 %}
            <li class="kishore-cart-count">
              <a href="{% url 'kishore_cart' %}" title="Your Cart"><i class="icon-shopping-cart"></i> [{{ cart.item_count }}]</a>
            </li>
            {% endif %}

          </ul>
        </div>

        {% block kishore_extra_nav %}
        {% endblock kishore_extra_nav %}
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="{% block content_wrapper_class %}col-md-12{% endblock %}">
          <section class="kishore-container">
            {% block kishore_content %}{% endblock %}
          </section>
        </div>
      </div>
    </div>
    {% kishore_js %}
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
