{% load staticfiles %}

<script type="text/javascript" src="{% static 'kishore/js/jquery-1.9.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'kishore/js/mustache.js' %}"></script>
<script type="text/javascript" src="{% static 'kishore/js/transition.js' %}"></script>
<script type="text/javascript" src="{% static 'kishore/js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'kishore/js/soundmanager2.js' %}"></script>
<script type="text/javascript" src="{% static 'kishore/js/kishore-csrf.js' %}"></script>
<script type="text/javascript" src="{% static 'kishore/js/kishore-player.js' %}"></script>
<script type="text/javascript" src="{% static 'kishore/js/scripts.js' %}"></script>
