{% extends "kishore/base.html" %}
{% load kishore_tags %}

{% block kishore_content %}
<article class="cart">
  <header><h1>Shopping Cart</h1></header>
  {% if cart.cartitem_set.all %}
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.cartitem_set.all %}
      <tr>
        <td>
          {{ item.product.name_with_no_price }}
          <form method="post" action="{% url 'kishore_remove_from_cart' item_id=item.id %}">
            {% csrf_token %}
            <input type="submit" value="Remove" class="btn btn-small btn-danger">
          </form>
        </td>
        <td>{{ item.unit_price|kishore_currency }}</td>
        <td>
          {% with item.get_form as form %}
          <form method="post" action="{% url 'kishore_update_cart' item_id=item.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update" class="btn btn-small btn-primary">
          </form>
          {% endwith %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="subtotal">
 Subtotal: {{ cart.total_price|kishore_currency }}
  </div>

  <a href="{% url 'kishore_checkout' %}" class="btn btn-primary">Checkout</a>
  {% else %}
  Your cart is empty.
  {% endif %}
</article>
{% endblock %}
