{% extends "kishore/base.html" %}
{% load kishore_tags %}

{% block kishore_content %}
<article class="download">
  <header><h1>Your Download</h1></header>

{% if error %}
<p>Sorry, your download link is invalid.  If you continue to have problems, please email us at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.</p>
{% else %}
{% if download_urls.length > 1 %}
<p>Please choose a format from the list below to start your download.  Once you make a selection, you will have 24 hours to complete your download.  If something goes wrong, just use the link in the email we sent you to try again.  If problems persist, or you are unable to complete your download in the next 24 hours, email us at <a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
{% for release in download_urls %}
<h4><a href="{{ release.url }}">{{ release.name }}</a></h4>
{% endfor %}
{% else %}
<p>Click the link below to start your download.  Once you start, you will have 6 hours to complete your download.  If something goes wrong, just use the link in the email we sent you to try again.  If problems persist, or your are unable to complete your download in the next 24 hours, email us at <a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
{% for release in download_urls %}
<h4><a href="{{ release.url }}">Download Now</a></h4>
{% endfor %}

{% endif %}
{% endif %}

</article>
{% endblock %}
