{% if order.shippable %}
<h3>Shipping To</h3>
<p>{{ order.shipping_address|linebreaks }}</p>
<p>You will be sent an email notification when your order ships.</p>
{% endif %}

{% if order.downloadable %}
<h3>Your Download Links</h3>

{% for item in order.orderitem_set.all %}
{% if item.downloadable %}
<p>
<strong>{{ item.product.name_with_no_price }}</strong><br>
{% for link in item.downloadlink_set.all %}
<a href="{{ link.get_full_url }}">{{ link.get_full_url }}</a><br>
{% endfor %}
</p>
{% endif %}
{% endfor %}

<h3>Order Details</h3>
<p>Order #: {{ order.id }}</p>
{% include "kishore/store/order_price_details.html" %}
{% endif %}
