@import "bootstrap/bootstrap.less";
@import "common.less";
@import "font-awesome.less";
@import "jquery-ui-1.10.3.custom.less";
@import "editor.less";

.admin-toolbar form {
  float: right;
  margin-left: 15px;
}

/* jQuery UI */

.ui-widget {
  background: @body-bg;
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
}

.ui-widget-header {
  text-align: center; }

.ui-icon {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  text-indent: 0; }
  .ui-icon:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none; }

.ui-icon-circle-triangle-w:before {
  content: "\f060"; }

.ui-icon-circle-triangle-e:before {
  content: "\f061"; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  &:hover { text-decoration: none; }
}

.ui-datepicker .ui-datepicker-prev {
  left: 5px; }

.ui-datepicker .ui-datepicker-next {
  right: 5px; }

/* General Layout */

body {
  padding-bottom: 40px; }

body.auth .navbar {
  display: none; }

.btn-toolbar form {
  display: inline; }

.sidebar .nav li.active {
  background: #eee; }

.panel {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

/* Sign In */
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

/* Kishore Picker */

.kishore-picker {

  img { max-width: 100%; }

  h3 {  margin-top: 0; }

  .kishore-picker-item {
    .btn {
      visibility: hidden;
    }
    &:hover .btn { visibility: visible; }
  }

  .item-picker-modal {
    .kishore-picker-item { cursor: pointer; }
    .modal-body .btn { display: none; }
    .pager {
      margin-bottom: 0;
      li { display: none; }
      li.active { display: block; }
    }
    img {
      max-width: 100%;
      opacity: 0.4;
    }
    .selected {
      color: @brand-primary;
      img { opacity: 1; }
    }
  }
}

.image-picker {
  .kishore-picker-item {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    margin-bottom: 10px;

    .btn-toolbar {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}

.song-picker {
  .kishore-picker-item {
    .btn-toolbar {
      display: inline;
    }
  }
}

/* Orders */
.refund-order,
.easypost-shipping-toolbar form {
  display: inline; }

/* Artists */
.artist_images label {
  display: none; }

/* Music */

.form-group.streamable, .form-group.downloadable {
  float: left;
  margin-right: 20px;
}

.form-group.description {
  clear: both;
}