h1, h2, h3, h4, h5, h6, .navbar-brand {
  text-transform: uppercase;
}

body {
  padding-bottom: 40px;
}

a:hover {
  text-decoration: none;
}

.sidebar, .navbar-nav, .navbar-brand {
  font-family: @font-family-sans-serif;
  text-transform: uppercase;
}

label, input, select, table, .btn, .label {
  font-family: @font-family-monospace;
  font-size: 0.75em;
  text-transform: uppercase;
}

input {
  text-transform: none;
}

.navbar-brand {
  color: @brand-primary !important;
}