
/* Music Artwork */

.kishore_container .artwork {
  overflow: hidden;
}

.kishore_container .artwork .images {
  width: 100%;
  text-align: center;
  -webkit-transition: margin 0.5s ease-in-out;
}

.kishore_container .artwork .images li {
  width: 100%;
  float: left;
  height: 400px;
  line-height: 400px;
  display: table-cell;
  vertical-align: middle;
}

.kishore_container .artwork img {
  max-width: 100%;
  max-height: 400px;
  vertical-align: middle;
}

.kishore_container .artwork .thumbnails {
  position: relative;
  float: left;
  left: 50%;
}

.kishore_container .artwork .thumbnails li {
  position: relative;
  float: left;
  left: -50%;
  margin: 0.4em 0.2em 0;
  opacity: 0.5;
}

.kishore_container .artwork .thumbnails li.active {
  opacity: 1;
}

.kishore_container .player {
  margin-bottom: 2em;
}