@import "bootstrap/bootstrap.less";
@import "common.less";
@import "font-awesome.less";

/* Layout stuff */

.kishore-container img {
  max-width: 100%;
}

.kishore-container p {
  line-height: @line-height-computed * 1.2;
}

.search-form input {
  width: 120px;
}

article {
  margin-bottom: @line-height-computed;
}

/* Store */

.kishore-cart-count {
  font-size: 10px;
  font-family: @font-family-monospace;
  i { font-size: 12px; }
}

.kishore-container {

  .cart {
    form {
      display: inline;
      input[type=text] { width: 50px; }
    }
    .table tbody > tr > td { vertical-align: middle }
  }

  .payment-method {
    ul {
      list-style-type: none;
      padding: 0;
    }

    .processor > label {
      font-size: @font-size-base;
    }

    input[value='kishore.payment.StripeBackend']:after {
      content: "sup";
    }
  }

  .buy-product, .download-product {
    margin-bottom: @line-height-computed;
  }
}


/* Audio Player */

.kishore-audio-player {
  font-family: @font-family-monospace;

  li {
    border: 1px solid @btn-default-border;
    padding: @padding-base-vertical @padding-base-horizontal;
    border-radius: @border-radius-base;
    margin-bottom: @line-height-computed * 0.5;
    cursor: pointer;

    &:hover { background-color: darken(@btn-default-bg, 2%); }

    &.playing {
      border-color: @brand-primary;
      background-color: lighten(@brand-primary, 12%);
    }

    &.paused {
      border-color: @gray-light;
      background-color: @gray-lighter;
      .progress-bar { background-color: @gray-light; }
    }
  }

  #song-position { margin: @line-height-computed * 0.5 0; }
  #song-time, #song-link {
    font-size: @font-size-base * 0.6;
    line-height: @line-height-computed;
    margin-left: 10px;
    color: @text-color;
  }
}

.kishore-container .player {
  margin-bottom: @line-height-computed;
}

/* Artwork */

.artwork {
  .thumbnails li {
    margin-top: @line-height-computed;
    float: left;
    box-sizing: border-box;
    width: 20%;
    padding: 0 2px;
    img { opacity: 0.4; }
    &.active img { opacity: 1; }
  }
}

/* Artists */

.artist-detail .release-item .title {
  display: none;
}